# 1\. 함수는?

- 일반적으로 함수도 데이터 타입의 하나다.
- 파이썬의 모든 것은 데이터 형태로 사용할 수 있다.
- 다음과 같은 기능을 하는 함수를 만들어 본다.

- 제곱하는 함수
  - 입력 : [  1,  2,  3] → 리턴 : [ 1, 4, 9]

- 절대값을 구하는 함수
  - 입력 : [ -1,  2, -3] → 리턴 : [ 1, 2, 3]

- 둘다 집합 데이터를 입력 받아서 같은 위치의 원소를 연산하여 결과값을 만드는 함수다.

In [1]:
def get_squre_list(numbers):
    result = []
    for number in numbers:
        result.append(number ** 2)
    return result

In [2]:
get_squre_list([3, 4, -5])

[9, 16, 25]

In [3]:
def get_absolute_list(numbers):
    result = []
    for number in numbers:
        result.append(number if number > 0 \
                       else -number)
    return result

In [4]:
get_absolute_list([3, 4, -5])

[3, 4, 5]

- 함수도 데이터 타입이다.

In [5]:
type(get_squre_list)

function

In [6]:
func = get_squre_list
func([-4, 5, 100])

[16, 25, 10000]

In [7]:
func = get_absolute_list
func([-4, 5, 100])

[4, 5, 100]

- 함수를 매개변수 값으로 반환할 수 있다.

In [8]:
def squre(x):
    return x ** 2

def absolute(x):
    return x if x > 0 else -x

In [9]:
def apply_func_to_list(numbers, func):
    result = []
    for number in numbers:
        result.append(func(number))
        # 함수와 매개변수 처리
    return result

In [11]:
apply_func_to_list([4,5,-7], squre)

[16, 25, 49]

In [12]:
apply_func_to_list([4,5,-7], absolute)

[4, 5, 7]

# 2\. Lambda (람다)
- 이름이 없는 익명의 inline 함수 정의한다.
```
구문
lambda [parameters] : expression
```

In [13]:
def double(x):
    return x * 2

In [14]:
double

In [15]:
lambda x:x * 2

In [ ]:
(lambda x:x * 2)(100)
# (lambda 변수:표현식)(변수에 들어갈 값)

200

In [17]:
(lambda x, y: x * y)

In [18]:
(lambda x, y : x * y) (10, 3)

30

In [20]:
(lambda : print('hello'))()

hello

In [ ]:
double = lambda x : x * 2
double(3)
# (lambda x : x * 2)(3)

6

- 간단한 동작의 함수들은 lambda 로 만들어서 함수 호출 시 필요할 때 전달해 주는 형태로 활용한다.

In [22]:
apply_func_to_list([-3, -21, 7], lambda x: x * 3)

[-9, -63, 21]

In [23]:
apply_func_to_list([3, -11, 6], \
        lambda x : x if x > 0 else -x)

[3, 11, 6]

- lambda 는 여러 줄을 사용할 수 없다.

In [ ]:
# 여러 가지 기능을 할 수 없다.
lambda name, age : print(name), print(age)

NameError: name 'age' is not defined

In [ ]:
lambda name, age : print(name, age)

- map(), filter(), reduce() 에서 lambda 활용을 많이 한다.
- map : n → n (n개의 입력을 받아 어떤 동작을 적용하여 n 개의 결과값을 생성한다)
- filter : n → n' (n개의 입력을 받아 어떤 동작을 적용하여 n 보다 적거나 같은 수의 결과값을 생성한다.)
- reduce : n → 1 (n개의 입력을 받아 어떤 동작을 적용하여 1개의 결과값을 생성한다.)

# 3\. Map 함수
- map 함수는 n개의 입력을 받으면 n개의 결과값을 반환한다.
- 집합데이터에 ~~한 동작/연산을 수행/적용하는 함수를 세트로 주어 일괄로 처리할 수 있다.
- 파이썬에는 이와 같은 일을 처리하는 함수가 있는데 바로 map 함수이다.
```
구문
map(함수, iterable 데이터)
```
- map 함수의 데이터는 iterable 해야 하고 map 함수의 리턴값은 map 객체이고 이 또한 iterable 하다.
- iterable 자료형 : list, set, dict, tuple, str 등이 있다.

In [3]:
def square(x):
    return x ** 2

In [4]:
m = map(square, [1,2,3])
print(m)

<map object at 0x000002D9D49BF730>

In [5]:
list(m)

[1, 4, 9]

In [6]:
list(map(square, [1,2,3]))

[1, 4, 9]

In [7]:
# list(데이터) : 데이터를 list 변경
list("hello")

['h', 'e', 'l', 'l', 'o']

In [8]:
list(map(str.upper, "hello"))

['H', 'E', 'L', 'L', 'O']

In [9]:
list(map(lambda x:x**2, [1,2,3,4,5]))

[1, 4, 9, 16, 25]

# 문제
- 주어진 리스트의 멤버들을 제곱해서 음수값으로 추력
- lambda와 map 을 이용해서 풀어보세요
```
[ 3, 2, -4] → [-9, -4, -16]
```

In [10]:
list(map(lambda x:-(x**2), [3, 2, -4]))

[-9, -4, -16]

In [11]:
list(map(
    lambda x: -x,
    map(lambda x: x **2, [3,2,-4])
))

[-9, -4, -16]

# 문제
- csv 파일 형태의 데이터를 아래와 같은 형태로 만들어 보세요.
```python
data = """height,weight,label
140,45,normal
145,72,fat
150,61,fat
137,56,fat
192,48,thin
175,77,fat"""
<결과값>
[[140.0, 45.0, 'normal'],
[145.0, 72.0, 'fat'],
[150.0, 61.0, 'fat'],
[137.0, 56.0, 'fat'],
[192.0, 48.0, 'thin'],
[175.0, 77.0, 'fat']]
```

- 과정 Hint
  - line 별로 나누기
  - 나누어진 line 은 ',' 로 나누기
  - 각 데이터의 숫자는 float 로, 문자는 그대로 저장

In [12]:
data = """height,weight,label
140,45,normal
145,72,fat
150,61,fat
137,56,fat
192,48,thin
175,77,fat"""

In [15]:
data

'height,weight,label\n140,45,normal\n145,72,fat\n150,61,fat\n137,56,fat\n192,48,thin\n175,77,fat'

In [16]:
lines = data.split("\n")
lines

['height,weight,label',
 '140,45,normal',
 '145,72,fat',
 '150,61,fat',
 '137,56,fat',
 '192,48,thin',
 '175,77,fat']

In [20]:
f_tonum = lambda n : float(n) if n.isdigit() else n

In [24]:
f_line = lambda line : list(map(f_tonum, \
                    line.strip().split(",")))

In [25]:
list(map(f_line, lines))

[['height', 'weight', 'label'],
 [140.0, 45.0, 'normal'],
 [145.0, 72.0, 'fat'],
 [150.0, 61.0, 'fat'],
 [137.0, 56.0, 'fat'],
 [192.0, 48.0, 'thin'],
 [175.0, 77.0, 'fat']]

- if와 for문을 사용한다면

In [ ]:
lines = data.split("\n")

result = []

for line in lines:
    t_line = line.strip().split(",")

    line_result = []

    for t in t_line:
        line_result.append(float(t) \
                         if t.isdigit() else t)
    
    result.append(line_result)

result

[['height', 'weight', 'label'],
 [140.0, 45.0, 'normal'],
 [145.0, 72.0, 'fat'],
 [150.0, 61.0, 'fat'],
 [137.0, 56.0, 'fat'],
 [192.0, 48.0, 'thin'],
 [175.0, 77.0, 'fat']]

# 4\. filter 함수
- n 개를 데이터는 filter 에 인자로 사용되는 함수에서 처리되는 과정에서 각각의 요소에 대해 참과 거짓 값을 반환한다.
- 참을 반환하면 그 요소는 남게 되고, 거짓을 반환하면 그 요소는 제거된다.
- filter 함수 결과는 filter 객체로 반환 되며, 이 객체 또한 iterable 하다.
```
구문
filter(function, iterable)
```

```
입력 : [ 3. 7, 9 ]
         ↓ ↓ ↓
적용 :  multiple3
         ↓ ↓ ↓
반환 :   T  F  T
         ↓   ↓
최종 : [ 3,    9 ]
```

# 5\. reduce 함수
- 함수를 사용해서 iterable을 집계연산을 통해 하나의 값을 반환한다.
- initializer 는 주어지면 첫번째 인자로 추가된다.
```
구문
functools.reduce(function, iterable[, initializer])
```

```
[ 1 , 2 , 3 , 4 , 5]
add(1,2)
    add)3,3)
       add)6, 4)
          add(10, 5)
```

## initializer (초기값)

# 문제
- reduce와 lambda 를 사용하여 최댓값을 찾아보세요.
```
dataset = [1,4,3,5,2]
```

# 문제
- 각각의 아이템 수를 구해보세요
```
dataset = ['dog', 'dog', 'dog', 'cat', 'cat', 'bird']
```

- map, filter 함수도 reduce 로 가능하다.