> hint: Series 에서 numpy 에서 배운 함수들

In [1]:
import pandas as pd 
import numpy as np 

path = r'data/titanic.csv'
df = pd.read_csv(path)
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

### 도전] 3등급 객실의 생존자 수는?

> 결과 119명

In [2]:
pclass_bool = df['Pclass'] == 3
survived_bool = df['Survived'] == 1

df[pclass_bool & survived_bool]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,NaN,S
858,859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C

In [5]:
result = df[pclass_bool & survived_bool]['PassengerId'].count()
print(f'결과 : {result} 명 ')

결과 : 119 명

### 도전] 남성과 여성의 생존률은 ?

> [결과 예시]<br>
> 남성생존률 0.18890814558058924<br>
> 여성생존률 0.7420382165605095

In [6]:
male_bool = df['Sex'] == 'male'
female_bool = df['Sex'] == 'female'

In [7]:
male_survived = df[male_bool]['Survived'].mean()
female_survived = df[female_bool]['Survived'].mean()

In [9]:
print(f'남자 생존률 : {male_survived * 100:.2f} %')
print(f'여자 생존률 : {female_survived * 100:.2f} %')

남자 생존률 : 18.89 %
여자 생존률 : 74.20 %