# Series
  - pandas의 기본 객체 중 하나
  - numpy의 ndarray를 기반으로 **인덱싱 기능**이 추가된 **1차원 배열**을 나타냄 (index x value 의 형태)
  - index를 지정하지 않을 시, 기본적으로 ndarray와 같이 0-based 인덱스 생성, 지정할 경우 명시적으로 지정된 index를 사용
  - **같은 타입**의 0개 이상의 데이터를 가질 수 있음

## Series 생성 : data로만 생성하기
 - index는 기본적으로 0부터 자동적으로 생성

In [1]:
import numpy as np 
import pandas as pd

In [2]:
s1 = pd.Series([1,2,3])
s1

0    1
1    2
2    3
dtype: int64

#### .values .index .dtype

In [3]:
s1.values

array([1, 2, 3])

In [4]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
s1.dtype

dtype('int64')

In [6]:
s2 = pd.Series(['a','b','c'])
s2

0    a
1    b
2    c
dtype: object

In [7]:
s2.values, s2.index, s2.dtype

(array(['a', 'b', 'c'], dtype=object),
 RangeIndex(start=0, stop=3, step=1),
 dtype('O'))

In [8]:
s3 = pd.Series(np.arange(200))
s3

0        0
1        1
2        2
3        3
4        4
      ...
195    195
196    196
197    197
198    198
199    199
Length: 200, dtype: int64

In [9]:
s3[0]

np.int64(0)

In [10]:
s3[4]

np.int64(4)

In [11]:
s2[0]

'a'

## Series 생성: data, index 함께 명시하여 생성

In [13]:
s4 = pd.Series([1,2,3], ['a','b','c'])
s4

a    1
b    2
c    3
dtype: int64

In [14]:
s4 = pd.Series(data=[1,2,3], index=['a','b','c'])
s4

a    1
b    2
c    3
dtype: int64

In [18]:
s4['a']

np.int64(1)

In [19]:
s4.index

Index(['a', 'b', 'c'], dtype='object')

In [20]:
score = pd.Series([100,90,80],['홍길동','이순신','김유신'])
score

홍길동    100
이순신     90
김유신     80
dtype: int64

In [21]:
score['홍길동']

np.int64(100)

In [22]:
# index 값은 중복 허용 한다
s6 = pd.Series([1,2,3,4], ['홍','홍','이','홍'])
s6

홍    1
홍    2
이    3
홍    4
dtype: int64

In [23]:
s6['홍']

홍    1
홍    2
홍    4
dtype: int64

In [24]:
data = {'홍길동':100,'이순신':90,'김유신':80}
s7 = pd.Series(data)
s7

홍길동    100
이순신     90
김유신     80
dtype: int64

##  dtype 명시하여 생성

In [26]:
s8 = pd.Series(np.arange(5),index=np.arange(100,105), dtype="int16")
s8

100    0
101    1
102    2
103    3
104    4
dtype: int16

In [27]:
pd.Series([1,2,3])

0    1
1    2
2    3
dtype: int64

In [28]:
pd.Series([1,1.1,0.111,100])

0      1.000
1      1.100
2      0.111
3    100.000
dtype: float64

In [29]:
pd.Series([1,1.1,'홍'])

0      1
1    1.1
2      홍
dtype: object

## 인덱스 활용

In [31]:
s8

100    0
101    1
102    2
103    3
104    4
dtype: int16

In [32]:
s8.index

Index([100, 101, 102, 103, 104], dtype='int64')

In [33]:
s8.index.values

array([100, 101, 102, 103, 104])

#### 1.인덱스를 통한 데이터 접근

In [34]:
s8[100]

np.int16(0)

In [35]:
s8[100], s8[102]

(np.int16(0), np.int16(2))

In [36]:
s8[[100]]

100    0
dtype: int16

In [37]:
s8[[100,102]]

100    0
102    2
dtype: int16

In [38]:
s8[[103,100,102]]

103    3
100    0
102    2
dtype: int16

In [39]:
s8[[100,100,100,100]]

100    0
100    0
100    0
100    0
dtype: int16

### 2. 인덱스를 통한 데이터 업데이트

In [40]:
s8[104] = 90
s8

100     0
101     1
102     2
103     3
104    90
dtype: int16

In [41]:
s8[105] = 100
s8

100      0
101      1
102      2
103      3
104     90
105    100
dtype: int16

In [42]:
s8[200] = 101
s8

100      0
101      1
102      2
103      3
104     90
105    100
200    101
dtype: int16

In [44]:
s8[[101, 102]] = 20,30
s8

100      0
101     20
102     30
103      3
104     90
105    100
200    101
dtype: int64

### 3. 인덱스 재사용하기

In [46]:
s8.index

Index([100, 101, 102, 103, 104, 105, 200], dtype='int64')

In [47]:
s9 = pd.Series(np.arange(7), s8.index)
s9

100    0
101    1
102    2
103    3
104    4
105    5
200    6
dtype: int64

### Series name, Index name, Index 변경

In [48]:
s7

홍길동    100
이순신     90
김유신     80
dtype: int64

In [49]:
s7.name = "성적"
s7

홍길동    100
이순신     90
김유신     80
Name: 성적, dtype: int64

In [50]:
s7.index.name = "이름"
s7

이름
홍길동    100
이순신     90
김유신     80
Name: 성적, dtype: int64

In [52]:
s7.index

Index(['홍길동', '이순신', '김유신'], dtype='object', name='이름')

In [53]:
s7.index = ["홍","이","김"]
s7

홍    100
이     90
김     80
Name: 성적, dtype: int64