# pivot, pd.pivot_table 함수

In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.DataFrame({
    '지역' : ['서울','서울','서울','경기','경기','부산','서울','서울'],
    '요일' : ['월요일','화요일','수요일','월요일','금요일','토요일','일요일','월요일'],
    '강수량' : [100,80,1000,200,200,100,50,100],
    '강수확률' : [80,70,90,10,20,30,50,90]

})
df

   지역   요일   강수량  강수확률
0  서울  월요일   100    80
1  서울  화요일    80    70
2  서울  수요일  1000    90
3  경기  월요일   200    10
4  경기  금요일   200    20
5  부산  토요일   100    30
6  서울  일요일    50    50
7  서울  월요일   100    90

## transpose(),  T
- row ↔ column 이 바뀐 형태 
- 전치행렬

In [4]:
df.T

        0    1     2    3    4    5    6    7
지역     서울   서울    서울   경기   경기   부산   서울   서울
요일    월요일  화요일   수요일  월요일  금요일  토요일  일요일  월요일
강수량   100   80  1000  200  200  100   50  100
강수확률   80   70    90   10   20   30   50   90

In [5]:
df.transpose()

        0    1     2    3    4    5    6    7
지역     서울   서울    서울   경기   경기   부산   서울   서울
요일    월요일  화요일   수요일  월요일  금요일  토요일  일요일  월요일
강수량   100   80  1000  200  200  100   50  100
강수확률   80   70    90   10   20   30   50   90

# pivot() 
 - dataframe의 형태를 변경
 - 인덱스, 컬럼, 데이터로 사용할 컬럼을 명시

In [17]:
df.pivot_table(index='지역', columns='요일', values='강수량')

요일    금요일     수요일    월요일   일요일    토요일   화요일
지역
경기  200.0     NaN  200.0   NaN    NaN   NaN
부산    NaN     NaN    NaN   NaN  100.0   NaN
서울    NaN  1000.0  100.0  50.0    NaN  80.0

# pd.pivot_table()
 - 기능적으로 pivot과 동일
 - pivot과의 차이점
   - 중복되는 모호한 값이 있을 경우, aggregation 함수 사용하여 값을 채움

##### 컬럼순서를 바꾸고싶다

In [18]:
pd.pivot_table(df, index='지역', columns='요일')

      강수량                                    강수확률                          \
요일    금요일     수요일    월요일   일요일    토요일   화요일   금요일   수요일   월요일   일요일   토요일
지역
경기  200.0     NaN  200.0   NaN    NaN   NaN  20.0   NaN  10.0   NaN   NaN
부산    NaN     NaN    NaN   NaN  100.0   NaN   NaN   NaN   NaN   NaN  30.0
서울    NaN  1000.0  100.0  50.0    NaN  80.0   NaN  90.0  85.0  50.0   NaN


요일   화요일
지역
경기   NaN
부산   NaN
서울  70.0

In [21]:
pd.pivot_table(df, index='지역', columns='요일', values='강수량', aggfunc='mean')

요일    금요일     수요일    월요일   일요일    토요일   화요일
지역
경기  200.0     NaN  200.0   NaN    NaN   NaN
부산    NaN     NaN    NaN   NaN  100.0   NaN
서울    NaN  1000.0  100.0  50.0    NaN  80.0

In [22]:
pd.pivot_table(df, index='지역', columns='요일', values='강수량', aggfunc='mean').T

지역      경기     부산      서울
요일
금요일  200.0    NaN     NaN
수요일    NaN    NaN  1000.0
월요일  200.0    NaN   100.0
일요일    NaN    NaN    50.0
토요일    NaN  100.0     NaN
화요일    NaN    NaN    80.0