# pd.concat()
DataFrame 병합시키기

## pd.concat() 함수 사용하여 dataframe 병합하기
 - pandas.concat 함수
 - 축(axis)을 따라 dataframe을 병합 가능
   - axis = 0 → 행단위 병합 (디폴트)
   - axis = 1 → 열단위 병합

In [1]:
import pandas as pd 
import numpy as np

df1 = pd.DataFrame({'key1':np.arange(10), 'value1':np.random.randn(10)})
df2 = pd.DataFrame({'key1':np.arange(10), 'value1':np.random.randn(10)})

In [2]:
df1, df2

(   key1    value1
 0     0  0.186657
 1     1 -0.676493
 2     2  0.116241
 3     3  0.690246
 4     4  1.193153
 5     5 -0.070804
 6     6  0.625019
 7     7  0.086482
 8     8 -1.652165
 9     9 -0.165374,
    key1    value1
 0     0  1.292481
 1     1 -1.008851
 2     2  1.643335
 3     3 -0.804774
 4     4  1.493139
 5     5  0.916841
 6     6  2.173191
 7     7  1.653093
 8     8 -0.697024
 9     9  0.669254)

### column / index 가 같은 경우  pd.concat 하기()

In [3]:
pd.concat([df1, df2])

   key1    value1
0     0  0.186657
1     1 -0.676493
2     2  0.116241
3     3  0.690246
4     4  1.193153
5     5 -0.070804
6     6  0.625019
7     7  0.086482
8     8 -1.652165
9     9 -0.165374
0     0  1.292481
1     1 -1.008851
2     2  1.643335
3     3 -0.804774
4     4  1.493139
5     5  0.916841
6     6  2.173191
7     7  1.653093
8     8 -0.697024
9     9  0.669254

In [4]:
pd.concat([df1, df2], ignore_index=True)

    key1    value1
0      0  0.186657
1      1 -0.676493
2      2  0.116241
3      3  0.690246
4      4  1.193153
5      5 -0.070804
6      6  0.625019
7      7  0.086482
8      8 -1.652165
9      9 -0.165374
10     0  1.292481
11     1 -1.008851
12     2  1.643335
13     3 -0.804774
14     4  1.493139
15     5  0.916841
16     6  2.173191
17     7  1.653093
18     8 -0.697024
19     9  0.669254

In [5]:
pd.concat([df1,df2], axis=1)

   key1    value1  key1    value1
0     0  0.186657     0  1.292481
1     1 -0.676493     1 -1.008851
2     2  0.116241     2  1.643335
3     3  0.690246     3 -0.804774
4     4  1.193153     4  1.493139
5     5 -0.070804     5  0.916841
6     6  0.625019     6  2.173191
7     7  0.086482     7  1.653093
8     8 -1.652165     8 -0.697024
9     9 -0.165374     9  0.669254

### column / index 가 다른 경우  pd.concat 하기()

In [6]:
df3 = pd.DataFrame({'key2':np.arange(10), 'value2':np.random.randn(10)})
df3

   key2    value2
0     0 -1.930541
1     1 -0.534367
2     2 -1.564404
3     3 -1.466665
4     4 -2.163790
5     5 -0.561715
6     6 -0.725991
7     7  0.696276
8     8  0.736568
9     9  1.217590

In [7]:
pd.concat([df1, df3])

   key1    value1  key2    value2
0   0.0  0.186657   NaN       NaN
1   1.0 -0.676493   NaN       NaN
2   2.0  0.116241   NaN       NaN
3   3.0  0.690246   NaN       NaN
4   4.0  1.193153   NaN       NaN
5   5.0 -0.070804   NaN       NaN
6   6.0  0.625019   NaN       NaN
7   7.0  0.086482   NaN       NaN
8   8.0 -1.652165   NaN       NaN
9   9.0 -0.165374   NaN       NaN
0   NaN       NaN   0.0 -1.930541
1   NaN       NaN   1.0 -0.534367
2   NaN       NaN   2.0 -1.564404
3   NaN       NaN   3.0 -1.466665
4   NaN       NaN   4.0 -2.163790
5   NaN       NaN   5.0 -0.561715
6   NaN       NaN   6.0 -0.725991
7   NaN       NaN   7.0  0.696276
8   NaN       NaN   8.0  0.736568
9   NaN       NaN   9.0  1.217590

In [8]:
df2.index += 10

In [9]:
df2

    key1    value1
10     0  1.292481
11     1 -1.008851
12     2  1.643335
13     3 -0.804774
14     4  1.493139
15     5  0.916841
16     6  2.173191
17     7  1.653093
18     8 -0.697024
19     9  0.669254

In [10]:
pd.concat([df1, df2])

    key1    value1
0      0  0.186657
1      1 -0.676493
2      2  0.116241
3      3  0.690246
4      4  1.193153
5      5 -0.070804
6      6  0.625019
7      7  0.086482
8      8 -1.652165
9      9 -0.165374
10     0  1.292481
11     1 -1.008851
12     2  1.643335
13     3 -0.804774
14     4  1.493139
15     5  0.916841
16     6  2.173191
17     7  1.653093
18     8 -0.697024
19     9  0.669254

In [11]:
pd.concat([df1, df2], axis=1)

    key1    value1  key1    value1
0    0.0  0.186657   NaN       NaN
1    1.0 -0.676493   NaN       NaN
2    2.0  0.116241   NaN       NaN
3    3.0  0.690246   NaN       NaN
4    4.0  1.193153   NaN       NaN
5    5.0 -0.070804   NaN       NaN
6    6.0  0.625019   NaN       NaN
7    7.0  0.086482   NaN       NaN
8    8.0 -1.652165   NaN       NaN
9    9.0 -0.165374   NaN       NaN
10   NaN       NaN   0.0  1.292481
11   NaN       NaN   1.0 -1.008851
12   NaN       NaN   2.0  1.643335
13   NaN       NaN   3.0 -0.804774
14   NaN       NaN   4.0  1.493139
15   NaN       NaN   5.0  0.916841
16   NaN       NaN   6.0  2.173191
17   NaN       NaN   7.0  1.653093
18   NaN       NaN   8.0 -0.697024
19   NaN       NaN   9.0  0.669254