# **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용
  - inplace=  파라미터 이해

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

#### 값 변경:  해당 index 사용해서 접근

In [3]:
s['a'] = 200   # update!
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [4]:
s['k'] = 300 # 생성
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int32

#### 삭제: drop()

In [5]:
# 삭제!
s.drop('k')  # index k 가 삭제된 Series 리턴 (원본 변화 없다)

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [6]:
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int32

In [7]:
# ★중요★
# drop() 함수는 drop 한'결과' 를 새로 만들어서 리턴한거고
# 원본 데이터 s 는 '변경'하지 않습니다

# numpy , pandas, 그밖의 수많은 데이터 관련 모듈들 에서의
# 대부분의 객체 함수들은 호출한 원본 객체를 '변경'하진 않고
# 원본의 '사본'을 만든뒤 '사본' 에 연산수행하여 그 '사본' 을 리턴하도록 동작 한다  
# (함수마다 조금씩 다르긴 하다)

# 그러나!
# inplace=True 파라미터를 주면 '사본' 을 만들지 않고 '원본'을 변화시키도록 동작한다

In [8]:
s.drop('k', inplace=True)  # 리턴값이 없다!  허걱!  원본 변화발생!

In [9]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [10]:
s[['a', 'b']]

a    200
b    101
dtype: int32

In [11]:
# 여러개의 값을 한꺼번에 update 가능
s[['a', 'b']] = [300, 900]   # list, tuple, array 
s

a    300
b    900
c    102
d    103
e    104
dtype: int32

# **Slicing**
 - 리스트, ndarray와 동일하게 적용
 - index 가 문자열인 경우 slicing 시 마지막도 포함 (ndarray 와 차이점!)

In [12]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [13]:
s1[1:3]   # index 1 부터 2 까지

# 이와 같이 '숫자-base' 인 인덱스는 기존의 slicing 방식대로 사용 가능

1    101
2    102
dtype: int32

In [14]:
# 문자기반의 인덱스는 어떠할까?
s2 = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [15]:
s2['b']

101

In [18]:
s2.iloc[1]  # 헐 동작한다???

101

In [19]:
s2[1:3] # 으잉? 된다!!?

b    101
c    102
dtype: int32

In [20]:
# 인덱스가 숫자타입이 아닌경우, 0-base 인덱싱, 슬라이싱 사용 가능

In [21]:
s2 = pd.Series(np.arange(100, 105), ['a', 'c', 'b', 'd', 'e'])  # '순서' 를 변경해 보아도
s2

a    100
c    101
b    102
d    103
e    104
dtype: int32

In [22]:
s2[1:3]   # 0-base 인덱싱 잘 동작

c    101
b    102
dtype: int32

In [23]:
# 문자기반 인덱스 사용시 슬라이싱
s2['c':'d']

# 문자열로 작성된 슬라이싱의 경우, '마지막' 도 포함이 된다!

c    101
b    102
d    103
dtype: int32

In [24]:
s2['b':'c']

Series([], dtype: int32)

In [25]:
s2['b':'c':-1]

b    102
c    101
dtype: int32

# Multi level index

#### xs() 를 사용한 인덱스
cross-section

axis = 0, level = 0

## Series 에서 level 별 계산